:root {
  --color-background:#D6B860;
  --color-primary:#2a4f69;
  --color-primary-dark:#19384E;
  --color-accent:#A4573B;
}
body{
	background-color: var(--color-background);
	margin: 0px;
}

.inline{
	    display: inline-block;
}

#page-container{

}

#header-container{
    
	position: relative;
	background-color: var(--color-primary-dark);
	width: 100%;
	height: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header{
	position: relative;
	width: 700px;
	margin:  auto;
	height: 100%;
	text-align:right;
}

.toolbar{
    padding: 10px;
	background: var(--color-primary);
}
#general-toolbar{
	position: absolute;
	left: 20px;
	width: fit-content;
	max-width: 400px;
}

.toolbar-action{
	width: fit-content;
	height: 70%;
}

#user-actions-toolbar{
	/*float:right;*/
}

#user-info-toolbar{
	/*float:right;*/
}

#toolbar-username{
    max-width: 200px;
}



#login-container{
	position: absolute;
	right: 20px;
	width: 150px;
	padding: 10px;	
	background: var(--color-primary);
	z-index:100;
}

#content-container{
	margin: 0 auto;
    max-width: 700px;
}

.curriculum{ 
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.act-href-container{
	font-size: 20px;
}

.act-href-container :hover{
	background: var(--color-accent);
	color: #fff;
}

.act-href{
	padding: 5px;
}

#topic-title{
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}

.material{
	margin-top: 10px;
	margin-bottom: 10px;
}

#topic-description{
	padding: 5px;
	margin:10px;
}

#username-name{
    font-family: monospace;
    text-align: center;
}

#username-actions{
	visibility: hidden;
	height: 0px; 
}

.username-action{
	margin-top: 5px;
	margin-bottom: 5px;
}

#confirmation-info{
	padding:10px;
	font-size:18px;
}

#confirmation{
	text-align: center;
    margin: auto;
}

.form-area{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-area-center{
    text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#del_curriculum-owner-actions{
	box-shadow: 5px 5px;
	background: var(--color-primary);
	padding: 10px;
	margin-bottom: 20px;
}


.modules-container{
    
}

.module{
    position: relative;
	padding: 10px;
	color: white;
	background: var(--color-primary);
	margin-bottom:30px;
	margin-top:30px;
}
.topic-material{
    margin-top: 10px; 
    margin-bottom: 10px;
}
.topic-material-header{
    height: 30px; 
    position: relative;
}
.module-title{
    position: absolute; 
    top: -20px; 
    font-size: 20px;
    text-align: left;
}

.topic-material-title{
    font-size: 20px;
}
.topic-material-body{
    margin-left: 20px; 
    position: relative;
}


